* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin-top: 4rem;
}
button {
  border: 1px solid transparent;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  background: wheat;
  color: rgb(48, 37, 2);
  margin-bottom: 2rem;
  outline: none;
}
p {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
